.selected{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.selected span{
	background: #29ff6d;
	color: white;
	font-weight: bold;
	padding: 0.5em;
	margin-right: 5px;
	margin-top: 1em;
	border-radius: 1em;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.selected a{
	margin-left: 5px;
	text-decoration: none;
	color: #999999;
	font-weight: bold;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #707070;
    opacity: 1;
}